.about_vehicify {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    /* background: var(--color-footer); */

    /* ff 3.6+ */
    /* background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%) ; */

    /* safari 5.1+,chrome 10+ */
    /* background:-webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%) ; */

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgb(2, 23, 46) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgb(5, 70, 136) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.about_vehicify-feature {
    display: flex;
}
/* .about_vehicify-feature .about_vehicify-container_feature {
    margin: 500px !important;
} */
.about_vehicify-feature .about_vehicify-container_feature-text {
    max-width: 700px;
}

.about_vehicify-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0 2rem;
}

.about_vehicify-heading h1 {
    padding-bottom: 12px;
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: sans-serif;
    max-width: 510px;
    color: rgb(61, 188, 238);

    
}

.about_vehicify-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2rem;
}

/* .about_vehicify-container .about_vehicify-container_feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
} */
/* .about_vehicify-container .about_vehicify-container_feature-text {
    margin-top: 0.5rem;
} */

@media screen and (max-width: 850px) {
    .about_vehicify-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .about_vehicify-heading p {
        margin-top: 1rem;
    }
}




@media screen and (max-width: 650px) {
    .about_vehicify-feature .about_vehicify-container_feature {
        flex-direction: column;
    }

    .about_vehicify-feature .about_vehicify-container_feature-text {
        margin-top: 0.5rem;
    }

    .about_vehicify-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
    .navbar-toggler-icon
    {
        color: red !important;
    }
}

@media screen and (max-width: 640px) {
    .about_vehicify-container .about_vehicify-container_feature {
        margin: 1rem 0;
        width: 100%;
    }
    .about_vehicify
    {
        margin-top: 270px !important;
    }
}