h2
{
    color: yellow;
}
.form
{
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: rgb(179, 228, 248);
    height: 300px;
    width: 1000px;
}
.input-container label
{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 100px;
    color: #4C489D;
    font-size: larger;
}

.input-container input
{
    display: block;
    margin-bottom: 10px;
    width: 600px;
	margin-left: 100px;
}
.button-container button {
	background: #fff;
	font-size: 14px;
	margin-top: 20px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 25%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #070146;
	cursor: pointer;
	transition: .2s;
}